@use 'custom';

@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';

@use 'sections/campanies';
@use 'sections/faq';
@use 'sections/footer';
@use 'sections/get-started';
@use 'sections/intro-section';
@use 'sections/navbar';
@use 'sections/portfolio';
@use 'sections/services';
@use 'sections/testimonials';
