@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
  @include gradient;
  li {
    padding: 0 0.7rem;
    margin: 7px 0 0 0;
    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}
